.play-pause-reset-container {
  display: inline-block;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 2%;
}

.play-pause-button {
  display: inline-block;
  margin: 2%;
  width: 30%;
  height: auto;
  color: rgb(0, 180, 255);
  background-color: rgb(90, 90, 90);
  border: 2px solid rgb(0, 180, 255);
  background: transparent;
  font-weight: bolder;
  font-size: 2rem;
  border-radius: 0.75rem;
}

.reset-button {
  display: inline-block;
  margin: 2%;
  width: 30%;
  height: auto;
  color: rgb(0, 180, 255);
  background-color: rgb(90, 90, 90);
  border: 2px solid rgb(0, 180, 255);
  background: transparent;
  font-weight: bolder;
  font-size: 2rem;
  border-radius: 0.75rem;
}
